body {
  font-family: 'Trebuchet MS', sans-serif;
}

h1 { 
  font-size: 55px;
  margin-top: 2px;
  margin-bottom: 2px; 
}

.ahtung {
  color: #3498db;	
}

.text-shadow {
  text-shadow: 2px 2px 0 #cccccc;	
}

.container {
    width: 100%;	
}

.container:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.header {
  background: #fff;	
  width: 100%;	
  position: fixed;
  top: 0;
  border-bottom: 1px solid #3498db; 
}

.logo_img {
  float: left;
  width: 200px;
}

.text_right {
  float: right;
  width: 50%;
}
.text_left {
  float: left;
  width: 40%;
}

.right {
  float: right;
  width: 25%;
}


.header-nav-item {
  display: inline-block;
  padding: 0 30px;
}

.header-nav-link:hover {
  background:  #3498db; 
  color:  #fff; 
  transition: all ease .3s;
}
.margin_top {
  margin-top: 210px;		
}	

.intro {
  background-image: url("images/1.jpg");
  background-size: cover;
  background-attachment: scroll;
  height: 400px;
}

.intro li {
  line-height: 2;	
}
.text_center {
  text-align: center;
}

.cite {
  margin: 1.5em 0;
  padding: 0.5em 25px;
  line-height: 1.5;
  border-radius: 10px;
  border: 5px solid #3498db;
}

.reg {
  margin: 1.5em 0;
  padding: 0.5em 25px;
  line-height: 1.5;
  border-radius: 10px;
  border: 5px solid #3498db;	
  width: 300px;
}

@media (max-width: 960px) {
  .img_teem {
  width: 140px;
  height: 140px;
  }
}

@media (max-width: 640px) {
  .img_teem {
  width: 100px;
  height: 100px; 
   }
    h1 { 
  font-size: 30px;
  margin-top: 2px;
  margin-bottom: 2px; 
}
}

